



.avatar{ 
    border-radius: 50%;
}
.topo{
	margin-top: 50px;
	padding: 20px;	
}

.teste{
	border: dashed black 2px;
	background-color: blue;
	
}
.meio{
	margin-top: 50px;
	padding: 20px;	
	
}



